body {
	background: #4e7a51;
}
.nav {
	display: flex;
	justify-content: space-between;
}
.right-nav {
	display: flex;
}
.nav-item {
	font-family: fantasy;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.slide-show {
	margin-top: 70px;
	border: 5px groove aquamarine;
}