body {
	background: #4e7a51;
}
.nav {
	display: flex;
	justify-content: space-between;
}
.right-side-nav {
	display: flex;
	justify-content: space-between;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}